@{
    ViewBag.Title = "Home Page";
}

@*<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Getting started with bootstrap</title>
    <!--let's add normalize.css http://necolas.github.io/normalize.css/ to remove any standard browser based styling-->
    <link href="css/normalize.css" rel="stylesheet" />
    <!-- Using bootstrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="css/stylesheet.css" rel="stylesheet" />
    <style>
        div {
            border: 1px solid black;
        }
    </style>
</head>*@

    <div class="container-fluid">
        <header>
            <div class="col-md-12">
                <h2>HOMEPAGE design</h2>
            </div>

        </header>

        
            <div class="col-md-9 promoArea mainImage img-responsive vertical-center">
                <div class="overlay">
                    <h2>FEEL LIKE HOME AWAY FROM HOME</h2>
                    <h1>YOUR HOME IN THE HILLS!</h1>
                    <div class="horz">
                        <span class="sprite arrow_right_white"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 promoArea tuscanyMap"></div>
        

        
        <div class="col-md-3 square">             <h2>Some Accommodation Ideas for a Perfect Stay</h2>             <p>Your dreams, Our Job!</p>         </div>         <div class="col-md-3 square sandy">             <div class="overlei">                 <h2>Weddings</h2>                 <p class="whiteText">                     Doesn't this look gorgeous to you?                     <button type="button" class="btn btn-info">Explore</button>                 </p>             </div>         </div>         <div class="col-md-3 square crappyshack">             <div class="overlei">                 <h2>Friends</h2>                 <p class="whiteText">                 Pictured here is our luxury accomodation.                 <button type="button" class="btn btn-info">Be Amazed</button>                 </p>             </div>         </div>                         <div class="col-md-3 square icey">             <div class="overlei">                 <h2>Family</h2>                 <p class="whiteText">                 Plenty of room for you and all of your loved ones!                 <button type="button" class="btn btn-info">You'll Definitely Fit!</button>                 </p>             </div>         </div>
        <div class="col-md-3 square uglyshack">             <h2 class="overlei">VILLA PAOLA</h2>         </div>         <div class="col-md-3 square">             <h2>Why Book A Villa</h2>         </div>         <div class="col-md-3 square ugliershack">             <h2 class="overlei">LA VILLA</h2>         </div>         <div class="col-md-3 square">             <h2>Why Us?</h2>         </div>                  <div class="col-md-3 square">             <h2>Speak With Our Experts</h2>         </div>         <div class="col-md-3 square crazy">             <h2 class="overlei">VILLA DEI GIGLI</h2>         </div>         <div class="col-md-3 square blueback">             <h2 class="whiteText">Our Clients Trust Us</h2>         </div>         <div class="col-md-3 square">
            <h4>Seen On ...</h4>
        </div>
        <footer>
            <div class="col-md-12">Copyright information that will be too small for you to read.</div>
        </footer>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!--remove the line above and then uncomment the following line to use the CDN for bootstrap's JavaScript file-->
    <!--
        <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
